nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 90px;
    color: #fff;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1009;
}

nav .nav-holder-1 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
    gap: 10px;
}

nav .nav-holder-1 span {
    font-size: 25px;
    font-weight: 700;
}

nav .nav-holder-2 {
    display: grid;
    place-items: center;
    width: 40%;
    position: relative;
}

nav .nav-holder-2 .icon {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
}

nav .nav-holder-2 input {
    width: 80%;
    padding: 10px 10px 10px 45px;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    border: none;
}

nav .nav-holder-3 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    font-size: 20px;

}

nav .nav-holder-3 .second {
    background: #BE123C;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


@media screen and (min-width: 768px) and (max-width: 1025px) {
    nav {
        padding: 20px 30px;
    }

    nav .nav-holder-2 {
        place-items: flex-end;
    }

    nav .nav-holder-2 input {
        width: 85%;
        font-size: 12px;
        padding: 10px 10px 10px 20px;
    }

    nav .nav-holder-2 .icon {
        left: 90%;
    }
}

@media (max-width: 767px) {
    nav {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    nav .nav-holder-1,
    nav .nav-holder-2,
    nav .nav-holder-2 input {
        width: 100%;
    }

    nav .nav-holder-2 input {
        width: 100%;
        padding: 15px;
    }

    nav .nav-holder-3 {
        display: none;
    }

    nav .nav-holder-2 .icon {
        left: 90%;
    }

    .home-main-hero {
        top: 65%;
        padding-left: 45px;
    }
}